.image_container {
  position: relative;
  width: 100%;
  height: 100%;
}

.placeholder_image, .real_image {
  height: 100%;
}

.blur .real_image {
  opacity: 0;
}

.real_image {
  position: absolute;
  top: 0;
  left: 0;
}

.blur {
  filter: blur(5px);
}

.unblur {
  animation: unblur 1s linear;
}

@keyframes unblur {
  from {
    filter: blur(5px)
  }
  to {
    filter: blur(0);
  }
}
