.navContainer{
  background: black;
  position: fixed;
  top: 1em;
  width: 100vw;
  text-align: center;
}

/*top controls*/
.galleryControls {
  font-family: 'IBM Plex Mono', monospace;
  width: 100vw;
  top: 10vh;
  padding-bottom: 1em;
  position: fixed;
  z-index: 3;
  background: black;
  display: flex;
  justify-content: space-around;
}

.select {
  font-family: 'IBM Plex Mono', monospace;
  letter-spacing: 1.5px;
  background-color: transparent;
  border: solid 1px white;
  color: white;
  padding: 2px 6px;
  font-size: 12px;
  outline: none;
}

.select:hover {
  cursor: pointer;
}

/*container for images*/
.imageContainer {
  margin-top: 17vh;
  display: flex;
  align-items: flex-start;
}

.imageContainer img{
  background: white;
  height: 70vh;
  padding: 1em 1em;
}

.arrow {
  margin-right: 24px;
}

.arrow:hover {
  cursor: pointer;
  color: #4fffe8;
}

@media(max-width: 640px) {
  .imageContainer {
    flex-direction: column;
    margin-top: 12px;
  }

  .imageContainer img{
    background: transparent;
  }

  .navContainer{
    position: relative;
    top: 0;
    margin: 12px 0px;
  }

  .galleryControls {
    padding-bottom: 0em;
    top: 0;
    position: relative;
  }

  .arrow {
    display: none;
  }

  .imageContainer img{
    height: auto;
    padding: 0;
  }

  .x {
    width: 90vw;
    height: auto;
    margin: auto;
    margin-bottom: 12px;
  }

}
