.indexContainer {
  overflow-x: hidden;
  margin: auto;
  position: relative;
}

.mainLinks {
  height: 50vw;
  width: 94vw;
  margin: auto;

}

.line {
  display: flex;
  flex-direction: row;
  padding: 10px 0px;
  justify-content: center;
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  transition: transform 0.1s ease-out;
}

/*
font-family: 'Anonymous Pro', monospace;
font-family: 'Major Mono Display', monospace;
*/

.navigation {
  height: 10vh;
}

.font1{
  font-family: 'Major Mono Display', monospace;
  font-size: 10vw;
  letter-spacing: 4px;
}

.lineImage {
  height: 80px;
}

.font2{
  font-family: 'Flamenco', cursive;
  font-size: 10vw;
  font-weight: 100;
}

.font3 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 10vw;
}

.font4 {
  font-family: 'Raleway', sans-serif;
  font-size: 9.5vw;
  font-weight: bold;
  letter-spacing: 3px;
}

.font5 {
  font-family: 'Helvetica Hollow', sans-serif;
  font-size: 4.7vw;
}

.font6 {
  font-family: 'Helvetica Black', sans-serif;
  font-size: 4.7vw;
  margin-top: 8px;
}

.font7 {
  font-family: 'Helvetica Black', sans-serif;
  font-size: 2.5vw;
  float: right;
  display: block;
}

/*various shapes*/
.circle {
  margin: 0px 12px;
  min-width: 8vw;
  min-height: 8vw;
  background: red;
  background: linear-gradient(0deg, rgba(180,125,179,1) 0%, rgba(71,71,138,1) 48%, rgba(94,128,166,1) 100%);
  border-radius: 50%;
  align-self: flex-start;
}

.rightTriangle {
    margin-left: 12px;
    min-width: 9vw;
    height: 7.5vw;
    align-self: center;
    background: rgb(193,139,192);
    background: linear-gradient(0deg, rgba(193,139,192,1) 0%, rgba(91,110,131,1) 52%, rgba(132,168,163,1) 100%);
    clip-path: polygon(0% 0, 0% 230%, 100% 0);
    -webkit-clip-path: polygon(0% 0, 0% 230%, 100% 0);
}

.triangle {
  margin: 0px 5px;
  min-width: 6vw;
  height: 8vw;
  align-self: center;
  background: rgb(110,174,175);
  background: linear-gradient(180deg, rgba(110,174,175,1) 0%, rgba(162,128,163,1) 63%, rgba(104,105,133,1) 98%);
  clip-path: polygon(50% 0, 0 100%, 100% 100%);
  -webkit-clip-path: polygon(50% 0, 0 100%, 100% 100%);
}
/*end of shapes*/

.removeLinkStyles {
  text-decoration: none;
}

.topLink::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0px;
    background-color: #dbb2ff;
    visibility: hidden;
    transition: all 0.25s ease-in-out;
}

.topLink:hover::before {
    cursor: pointer;
    visibility: visible;
    width: 40%;
}

.topLink:hover {
  cursor: pointer;
  color: #dbb2ff;
}

/* Styling for Bio and container */

.topBar {
  position: relative;
  height: 30px;
  background: rgb(2,0,36);
  background: linear-gradient(112deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(58,129,143,1) 100%);
  border-top: solid 1px white;
  border-left: solid 1px white;
  border-right: solid 1px #2B2B48;
}

.bioContainer {
  max-width: 70vw;
  margin: auto;
}

.bioExit {
  outline: none;
  border-left: solid 1px white;
  border-top: solid 1px white;
  border-right: solid 1px black;
  border-bottom: solid 1px black;
  padding: 0px;
  height: 20px;
  width: 22px;
  position: absolute;
  right: 6px;
  top: 5px;
}

.bioText {
  font-family: 'Anonymous Pro', monospace;
  color: black;
  padding: 12px 20px;
  background: #bdbdca;
  border-left: solid 1px white;
  border-right: solid 1px #2B2B48;
  border-bottom: solid 2px #2B2B48;
  box-shadow: 4px 4px #5f6d6d;
  line-height: 1.2em;
}

.bioText a {
  text-decoration: none;
  color: black;
  background: #8aacd2;
  padding: 0px 2px;
}

.bioText a:hover {
  background: #87dbe0;
}

/*squiggle*/
.squiggleOuterWrapper {
  display: table;
  padding: 20px 0px 4px 0px;
  margin: auto;
}

.squiggleWrapper {
  padding: 50% 0;
  height: 0;
}

.squiggle {
  width: 24vh;
  height: 30px;
  display: block;
  transform-origin: top left;
  transform: rotate(90deg) translate(0, -100%);
  margin-top: -50%;
  margin-left: 41%;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='white' stroke-width='1' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3' /%3E%3C/svg%3E");
  background-size: auto 12px;
  background-position-y:50%;
  background-repeat: repeat-x;
}

.arrow {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

/*resume things */
.resume {
  border: solid 1px white;
  padding: 12px;
  margin: auto;
  width: 70vw;
  font-family: 'IBM Plex Mono', monospace;
}

.resumeHead {
  font-size: 20px;
  text-align: center;
  margin-bottom: 12px;
}

.resumePoint {
  margin-bottom: 10px;
}

.resumeDate {
  color: darkgrey;
  font-size: 12px;
}

.resumeTitle {
  font-size: 14px;
  color: #a9b6de;
}

.resumeDesc {
  margin-top: 3px;
  font-family: 'Josefin Sans', sans-serif;
}

.resume a {
  color: #9beeef;
}

.resume a:hover {
  color: #32fdff;
}
